table.glavna,
.glavna th,
.glavna td {
    text-align: left;
    border: 2px solid black;
    border-collapse: collapse;
}


.naziv {
    width: 15px;
}

.rasiri {
    width: 200px;
}

.unutrasnja {
    padding: 0;
    border-style: hidden;
}

.unutrasnja td {
    width: 20px;
}

h4 {
    color: gray;
    text-align: right;
    margin-top: 5px;
    margin-right: 20px;
    position: sticky;
}



.prisutan {
    background-color: green;
    height: 60px;
}

.neprisutan {
    background-color: red;
    height: 60px;
}


table.unutrasnja,
.unutrasnja th,
.unutrasnja td {
    margin-top: 0px;
    border-collapse: collapse;
    padding: 0 px;

}

.bezMargine {
    margin: 0px;
    padding: 0px;
}