.menu {
    position: fixed;
    background-image: url("Screenshot_3.png");
    color: white;
    top: 0%;
    left: 0%;
    width: 100%;
}



.menu ul li a {
    color: white;
}

body {
    background-image: linear-gradient(to bottom, #ecf2fa, #d3daeb, #c7cae3, #c2bfd8, #9280aa);

}

.menu ul li {
    display: flex;
    margin-left: 20px;
}

.menu ul li>ul {
    display: flex;
    gap: 5px;
}

.menu ul {
    float: left;
}

ul {
    list-style: none;
}

.sadrzaj div {
    scroll-margin-block-start: 120px;
    margin-left: 2px;
}

.sadrzaj {
    padding-top: 120px;
    width: 100%;
    background-image: linear-gradient(to bottom, #ecf2fa, #d3daeb, #c7cae3, #c2bfd8, #9280aa);
}

.pravaSlicica {
    height: 17px;
    display: flex;
}

.studijLinija {
    background-color: #beb3cd;
    height: 3px;
    width: 95%
}

.godinaLinija {
    background-color: #c7cae3;
    height: 1px;
    width: 95%;
}


.slicica {
    font-style: italic;
    font-weight: bold;
    background-color: #aaa7cc;
}

.godina {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    scroll-margin-inline-start: 120px;
    gap: 10px;
}

.godina div {
    margin: 4px;
}

h3 {
    font-style: italic;
}

.predmet {
    border: 2px solid black;
    padding: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: white;
}

.predmet:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.izborni {
    border: 2px solid black;
    background-color: powderblue;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.izborni:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.siviPredmeti:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.siviPredmeti {
    border: 2px solid black;
    padding: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: gray;
}

@media(max-width:852px) {
    .menu {
        position: relative;
    }

    .menu ul {
        float: none;
    }
}